/******* Google Font "Robot" embeded **********/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700);
/******* Google Font ended **********/
body {
	overflow-x: hidden;
	color: #3a3a3a;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}
a { color: #3a3a3a; }
h1 { margin: 0; }
.nopadding { padding: 0; }
.nomargin { margin: 0; }
.noborder {
	border: none;
	background: none;
}
#gmap_canvas img {
	max-width: none !important;
	background: none !important;
}	
#header { padding-top: 10px; }
#header address {
	margin-top: 1px;
	line-height: 34px;
}
.fa-map-marker:before,
.fa-phone:before,
.fa-envelope-o:before {
    color: #1379ae;
    font-size: 20px;
	margin-right: 6px;
}
.top-bar {
	padding-bottom: 9px;
	border-bottom: 1px solid #eee;
	margin-bottom: 7px;
}
.logo {
	float: left;
	width: 100%;
	padding: 8px 0 15px;
}
.logo a, .logo a img { display: block; }
.add-to {
    margin: 8px 0 0 15px;
    float: left;
    border-right: 1px solid #a9d150;
    padding-right: 11px;
}
.fa-calendar:before {
    font-size: 18px;
    font-weight: 100;
}
.add-to .fa.fa-calendar { color: #fff; }
.tel:hover {
	text-decoration: none;
	cursor: default;
	color: inherit;
}
#mobile-header { display: none; }
.nav ul { text-align: right; }
.nav ul > li {
    margin: 0 0 0 14px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
	position: relative;
}
.nav ul > li > a {
	color: #3a3a3a;
	font-size: 14px;
	line-height: 56px;
	padding: 4px 8px;
	text-transform: uppercase;
}
.nav ul > li.active > a,
.nav ul > li:hover > a {
	background: #93c524;
	padding: 4px 8px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	color: #fff;
	text-decoration: none;
}
.nav ul > li:hover > ul { display: block; }
.nav ul > li > ul {
	display: none;
	position: absolute;
	top: 39px;
	left: 0;
	width: 200px;
	z-index: 1;
	padding-left: 0;
	background: #3a3a3a;
	text-align: left;
}
.nav ul > li:last-child:hover > ul {
	left: auto;
	right: 0;
} 
.nav ul > li:last-child:hover > ul > li > ul {
	left: auto;
	right: 100%;
} 
.nav ul > li > ul > li { position: relative; }
.nav ul > li > ul > li:hover ul { display: block; }
.nav ul > li > ul > li > ul {
	display: none;
	position: absolute;
	top: 10px;
	left: 100%;
	width: 200px;
	z-index: 1;
	padding-left: 0;
	background: #3a3a3a;
	text-align: left;
	
}
.nav ul > li > ul > li > ul li,
.nav ul li > ul li {
	margin: 0;
	display: block;
	padding: 5px 0;
}
.nav ul li > ul > li a {
	line-height: 20px;
	color: #fff;
}
.nav ul li > ul > li:hover { 
	background: #93c524;
	transition: ease-in 1s; 
	-webkit-transition: ease-in 1s;
}
/***************************************************/
.sidr {
  display: block;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #333;
  color: #fff;
}
.sidr .sidr-inner {
  padding: 0 0 15px;
}
.sidr .sidr-inner > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr.right {
  left: auto;
  right: -260px;
}
.sidr.left {
  left: -260px;
  right: auto;
}
.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRkNGQ0ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
  background-image: -moz-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: -webkit-linear-gradient(#4d4d4d, #1a1a1a);
  background-image: linear-gradient(#4d4d4d, #1a1a1a);
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: #fff;
  line-height: 24px;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
}
.sidr p {
  font-size: 13px;
  margin: 0 0 12px;
}
.sidr p a {
  color: rgba(255, 255, 255, 0.9);
}
.sidr > p {
  margin-left: 15px;
  margin-right: 15px;
}
.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d;
}
.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a;
}
.sidr ul li:hover, .sidr ul li.active, .sidr ul li.sidr-class-active {
  border-top: 0;
  line-height: 49px;
}
.sidr ul li:hover > a,
.sidr ul li:hover > span, .sidr ul li.active > a,
.sidr ul li.active > span, .sidr ul li.sidr-class-active > a,
.sidr ul li.sidr-class-active > span {
  box-shadow: 0 0 15px 3px #222 inset;
}
.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: #fff;
}
.sidr ul li ul {
  border-bottom: 0;
  margin: 0;
}
.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px;
}
.sidr ul li ul li:last-child { border-bottom: 0; }
.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: 0;
  line-height: 41px;
}
.sidr ul li ul li:hover > a,
.sidr ul li ul li:hover > span, .sidr ul li ul li.active > a,
.sidr ul li ul li.active > span, .sidr ul li ul li.sidr-class-active > a,
.sidr ul li ul li.sidr-class-active > span {
  box-shadow: 0 0 15px 3px #222 inset;
}
.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;
}
.sidr form {
  margin: 0 15px;
}
.sidr label {
  font-size: 13px;
}
.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  border-radius: 2px;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both;
}
.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none;
}
.sidr input[type=button],
.sidr input[type=submit] {
  color: #333;
  background: #fff;
}
.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9);
}
.banner-area {
	position: relativee;
	overflow: hidden;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.26);
	box-shadow: 0 3px 6px rgba(0,0,0,0.26);
}
.banner-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
.banner-block {
	max-width: 1173px;
	margin: 106px auto 0;
	overflow: hidden;
	text-align: right;
}
.title {
	text-align: left;
	float: right;
	max-width: 442px;
	font-weight: 700;
	font-size: 46px;
	text-transform: uppercase; 
}
.title span {
	font-size: 28px;
	font-style: italic;
	text-transform: none;
	font-weight: 400;
	color: #0f77ad;
	display: block;
	margin-bottom: -12px;
	text-align: left;
}
.title span.last {
	float: right;
	margin-top: -12px;
	margin-bottom: 0;
}
.bottom-banner {
	position: absolute;
	top: 100%;
	left: 0;
	margin: -40px 0 0;
	width: 100%;
}
.services-block ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	max-width: 1173px;
}
.services-block ul li {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	width: 24.7%;
	padding: 10px;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	background: #cee021; 
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.services-block ul li:hover {
	-webkit-transform: translateY(-76px);
	transform: translateY(-76px);
}
.default-services { display: block; }
.default-services a {
	text-transform: uppercase;
	color: #fff;
}
.services-block ul li:hover .hover-services { display: block; }
.hover-services { display: none; } 
/**** About Us area ****/
.about-us { padding-top: 50px; }
/**** About Us area ended ****/

/**** Support area ****/
.support-area {
	background: url(../images/img-3.jpg) no-repeat;
	max-width: 100%;
	height: auto;
}
/*** Services Area ***/
.services-area { background: url(../images/img-4.png) no-repeat 100% 100% / 35% auto; }
.title-info {
	display: block;
	text-align: center;
}
.title-content { display: block; }
.img-testimonial {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	display: block;
	margin: 0 auto;
}
.subscribe-area {
	background: #0f77ad url(../images/bg-news.jpg);
	padding-top: 50px;
	padding-bottom: 50px; 
}
.footer-area {
	position: relative;
	padding: 0 0 65px;
	background: #222d34;
	color: #fff;
}
.footer-img {
	width: 1920px;
	height: 650px;
	left: 50%;
	margin: 0 0 0 -50%;
	position: absolute;
	display: block;
}
.instagram-area { padding-top: 50px; }
.instagram-area h1 {
	text-align: center;
	font-size: ;
	color: #fff;
}
.social-area {
	background: #0f77ad;
	padding-top: 30px;
	padding-bottom: 30px; 
}
/*=========================
  Icons
 ================= */
/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
/* footer social icons */
.social-network a.icoRss:hover { background-color: #fff;}
.social-network a.icoFacebook:hover {background-color:#fff;}
.social-network a.icoTwitter:hover {background-color:#fff;}
.social-network a.icoGoogle:hover {background-color:#fff;}
.social-network a.icoDribbble:hover {background-color:#fff;}
.social-network a.icoSkype:hover {background-color:#007bb7;}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {color:#44BCDD;}
.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}
@media only screen and (max-width: 1024px){
	.tel:hover { cursor: pointer; }
}
@media only screen and (max-width: 767px){
    #mobile-header { display: block; }
}
